tirfm_deepfinder.egg-info/
exodeepfinder.egg-info/
env/
env_nogui/
dist/
build/
.atlas/
.vscode/
__pycache__/
blobs.txt
.DS_Store
workflows/*/Data
workflows/*/Metadata
workflows/*/Thumbnails
# pixi environments
.pixi
*.egg-info
